* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow: hidden;
    height: 100%;
}

header {
    background-color: #6f4e37;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: -70px; 
}

.logo-placeholder {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.brand-name {
    text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5); 
    font-weight: bold; 
    font-size: 24px;
    color: white;
    margin-right: 10px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}


.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.input-group input {
    width: 100%;
    padding: 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #6f4e37;
}

.forgot-password {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-password a {
    color: #6f4e37;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}



.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
    height: 370px;
    max-width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.input-group input {
    font-size: 18px;
    padding: 12px 45px;
}


.login-btn {
    text-decoration: none;
    width: 100%;
    padding: 10px;
    background: #6f4e37;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block; 
    text-align: center;
    
}

.login-btn:hover {
    background: #573c29;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #6f4e37;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}
